#main_table
    %h2
        Edit #{resource_name.to_s.humanize}
    %hr

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        %ul
            %li
                - render_field f.label(:name, 'Username'), f.text_field(:name), resource.errors[:name]
            %li
                - render_field f.label(:email), f.text_field(:email), resource.errors[:email]
            %li
                - render_field f.label(:password), f.password_field(:password), resource.errors[:password],
                                                   "leave blank if you don't want to change"
            %li
                - render_field f.label(:password_confirmation), f.password_field(:password_confirmation), 
                                                                resource.errors[:password_confirmation]
            %li
                - render_field f.label(:current_password), f.password_field(:current_password), resource.errors[:current_password],
                                                           "please input your current password to confirm account changes"
            %li= f.submit 'Update'
            %li
                .links
                    %ul
                        %li= link_to 'Back', :back
