#main_table
    %h2 Sign up
    %hr
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        %ul
            /%li
            /    .label_container
            /        %h3= f.label :name, 'Username'
            /    .field_container
            /        .field
            /            = f.text_field :name
            /        .error_explanation
            /            %p= resource.errors.include?(:name) ? resource.errors[:name].join(', ') : ''
            /        .clear
            %li
                - render_field f.label(:name, 'Username'), f.text_field(:name), resource.errors[:name]
            %li
                - render_field f.label(:email), f.text_field(:email), resource.errors[:email]
            %li
                - render_field f.label(:password), f.password_field(:password), resource.errors[:password]
            %li
                - render_field f.label(:password_confirmation), f.password_field(:password_confirmation), 
                                                                resource.errors[:password_confirmation]
            %li
                %div= f.submit "Sign up"
            %li
                .links
                    = render :partial => "devise/shared/links"
