body {
    background-color: #454442;
    color: #f4fce8;
}
a, a:link, a:visited, a:hover {
    color: #a1cef7;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: #cbed82;
    text-shadow: 0px 1px 1px #000;
    font-family: 'Droid Serif', verdana, arial, serif;
    margin: 0;
}
p {
    margin: 0;
}
table {
    margin-bottom: 0;
}
caption, th, td {
    padding: 4px;
}
td {
    line-height: 20px;
    border-color: #aaa;
}
th {
    border-color: #eee;
}
ul, ol {
    list-style-type: none;
    margin-bottom: 0;
}
div.field, div.actions {
    margin-bottom: 10px;
}
#notice {
    color: green;
}
.clear {
    clear: both;
}
/* jQuery UI overrides */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-header {
    border: 0;
}
.ui-widget-header {
    font-weight: normal;
    font-size: 12px;
}
.ui-toolbar {
    padding: 10px;
}
/* DataTable overrides */
.dataTables_wrapper {
    min-height: 0;
}
table.display td {
    /*border-right: 1px solid #aaa;*/
    color: #eee;
}
tr.odd {

}
tr.even {

}
tr.odd td.sorting_1, tr.odd td.sorting_2, tr.odd td.sorting_3 {
	background-color: #333;
}
tr.even td.sorting_1, tr.even td.sorting_2, tr.even td.sorting_3 {
	background-color: #666;
}
/* Header */
#header, #content {
    float: left;
    width: 100%;
}
#header {
    background-color: #2b4e72;
    border-bottom: 2px solid #777;
}
#header p {
    margin: 0;
}
#header a {
    color: #AECBEF;
}
#header h1 {
    margin: 0;
    margin-left: 20px;
}
#header .logo, #header .user_panel {
    display: inline;
    float: left;
}
#header .logo p, #header .user_panel ul li {
    line-height: 50px;
}
#header .logo {
    width: 60%;
}
#header .logo a {
    text-decoration: none;
}
#header .user_panel {
    width: 40%;
}
#header .user_panel ul {
    float: right;
    margin: 0;
    margin-right: 20px;
}
#header .user_panel ul li { 
    float:left;
    margin-left: 10px;
}
#links {
    padding: 20px;
    padding-bottom: 0;
}
#main_table {
    margin: 20px;
    padding: 20px;
    background-color: #555;
}
#main_table > h2 {
    margin-bottom: 20px;
}
/* Forms */
form .label_container, form .field_container {
    width: 100%;
}
form .label_container {
    margin: 5px 0;
}
form .label_container h3 {
    font-weight: normal;
}
form .field_container {
    line-height: 2em;
}
form .field, form .error_explanation {
    float: left;
    display: inline;
}
form .field {
    padding: 5px 0;
}
form input[type="text"], form input[type="password"], textarea {
    border: 2px solid #454442;
}
form .error_explanation {
    margin-left: 20px; 
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 6px;
    -moz-border-radius: 6px; 
    background-color: #c02942; 
    border: 2px solid #ff6b6b; 
}
form .field_with_errors {
    display: table;
}
form .field_with_errors input[type="text"], .field_with_errors input[type="password"] {
    background-color: #ffb8b8;
}
.links ul {
    margin: 0;
    margin-top: 20px;
}
.links li {
    margin-top: 10px;
}
