h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', verdana, arial, serif;
}
div.field, div.actions {
    margin-bottom: 10px;
}
#notice {
    color: green;
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}
#error_explanation ul li {
}
/* Header */
#header, #content {
    float: left;
    width: 100%;
}
#header p {
    margin: 0;
}
#header .logo, #header .user_panel {
    display: inline;
    float: left;
}
#header .logo {
    width: 60%;
    line-height: 30px;
}
#header .user_panel {
    width: 40%;
}
#header .user_panel h1 {
    line-height: 36px;
}
#header .user_panel ul {
    float: right;
    margin: 0;
    list-style-type: none;
}
#header .user_panel ul li { 
    float:left;
    margin-left: 10px;
    line-height: 30px;
}
