%hr

= form_for @ip do |f|
    %ul
        %li
            - render_field f.label(:address), f.text_field(:address), @ip.errors[:address]
        %li
            - render_field f.label(:name), f.text_field(:name), @ip.errors[:name]
        %li
            - render_field f.label(:description), f.text_area(:description), @ip.errors[:description]
        %li
            - render_field f.label(:user_id, 'Point of Contact'), f.select(:user_id, User.all.collect{ |u| [u.name, u.id] }), 
                                                                  @ip.errors[:user_id]
        %li= f.submit 'Save'
